body {
  margin: 0;
  background-color: #252423;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh; }

.animation-wrapper {
  width: 50%;
  padding-bottom: 0;
  z-index: -2; }

.sphere-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 550px;
  height: 550px;
  margin: -290px 0 0 -290px;
  margin-bottom: 0; }

.sphere path {
  fill: url(#sphereGradient);
  border-style: solid;
  stroke-width: 1px;
  stroke: rgba(80, 80, 80, 0.35);
  backface-visibility: hidden; }

@media (min-width: 500px) {
  .sphere path {
    stroke-width: 0.4px; } }

.headings {
  position: absolute;
  top: 30vh; }
  .headings h2,
  .headings h3 {
    font-size: 64px;
    color: #fff;
    font-weight: 600;
    font-family: Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -1.6px;
    word-spacing: 0; }
  .headings h2 {
    margin-bottom: 0;
    padding-bottom: 0; }
  .headings h3 {
    margin-top: 0;
    font-size: 32px;
    font-weight: 400; }

.gallery {
  position: absolute;
  top: 100vh; }
  .gallery h2 {
    margin: 0;
    font-size: 32px;
    color: #fff;
    font-weight: 400;
    font-family: Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -1.6px;
    word-spacing: 0; }

.slide-grid {
  border-style: solid;
  display: grid;
  grid-template-areas: "left middle right";
  grid-template-columns: 30vw 10vw 30vw;
  width: 90vw;
  height: 70vh;
  gap: 0;
  position: absolute;
  top: 110vh; }
  .slide-grid * {
    border-style: solid; }
  .slide-grid .left-grid {
    grid-area: left; }
  .slide-grid .middle-grid {
    grid-area: middle; }
  .slide-grid .right-grid {
    grid-area: right; }

.footer {
  position: absolute;
  top: 190vh;
  width: 100%;
  text-align: center;
  padding-bottom: 2rem; }
  .footer .social-test {
    text-align: center; }
    .footer .social-test a {
      margin: 0.7rem; }
      .footer .social-test a i {
        padding: 0.8rem;
        background-color: black;
        color: white;
        border-radius: 50%; }
        .footer .social-test a i:hover {
          background-color: white;
          color: #f44336;
          cursor: pointer;
          transition: all 0.5s ease-in-out; }
