* {
  margin: 0;
  padding: 0; }

body {
  background-color: #252423; }

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 50vw;
  border-style: solid;
  border-color: aqua; }

.animation-wrapper {
  width: 50%;
  padding-bottom: 0;
  margin-top: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: blue;
  z-index: 5;
  margin-bottom: 0; }

.sphere-animation {
  border-color: crimson;
  width: 550px;
  height: 550px;
  margin-bottom: 0; }

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 1px;
  stroke: rgba(80, 80, 80, 0.35);
  backface-visibility: hidden; }

@media (min-width: 500px) {
  .sphere path {
    stroke-width: 0.4px; } }

.headings {
  text-align: center;
  border-color: darkgoldenrod; }
  .headings h2,
  .headings h3 {
    font-size: 64px;
    color: #fff;
    font-weight: 600;
    font-family: Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -1.6px;
    word-spacing: 0; }
  .headings h2 {
    margin-bottom: 0;
    padding-bottom: 0; }
  .headings h3 {
    margin-top: 0;
    font-size: 32px;
    font-weight: 400; }

.slide-container {
  display: flex;
  justify-content: center; }

.slide-grid {
  border-style: solid;
  display: grid;
  grid-template-areas: "left middle right";
  grid-template-columns: 40vw 10vw 40vw;
  width: 90vw;
  height: 115vh;
  gap: 0;
  margin-top: 10vh; }
  .slide-grid .left-grid {
    grid-area: left; }
    .slide-grid .left-grid .left-gallery {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-areas: "topleft topright" "bottomleft topright" "bottomleft bottomright";
      grid-template-columns: 20vw 20vw;
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 7px; }
      .slide-grid .left-grid .left-gallery img {
        width: 100%;
        height: 100%;
        border-radius: 3px;
        box-shadow: 2px 2px 4px black; }
        .slide-grid .left-grid .left-gallery img:hover {
          opacity: 0.7;
          cursor: pointer; }
      .slide-grid .left-grid .left-gallery .left-gallery-1 {
        grid-area: topleft;
        margin: 0;
        padding: 0; }
        .slide-grid .left-grid .left-gallery .left-gallery-1 img {
          margin: 0; }
      .slide-grid .left-grid .left-gallery .left-gallery-2 {
        grid-area: topright; }
      .slide-grid .left-grid .left-gallery .left-gallery-3 {
        grid-area: bottomleft; }
      .slide-grid .left-grid .left-gallery .left-gallery-4 {
        grid-area: bottomright; }
  .slide-grid .middle-grid {
    grid-area: middle;
    display: flex;
    justify-content: center; }
    .slide-grid .middle-grid i {
      padding: 15px;
      border-style: solid;
      border-radius: 50%;
      border-width: 1px;
      margin: auto;
      color: white;
      box-shadow: 2px 2px 4px black; }
  .slide-grid .right-grid {
    grid-area: right; }
    .slide-grid .right-grid .right-gallery {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-areas: "topleft topright" "bottomleft topright" "bottomleft bottomright";
      grid-template-columns: 20vw 20vw;
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 7px; }
      .slide-grid .right-grid .right-gallery img {
        width: 100%;
        height: 100%;
        border-radius: 3px;
        box-shadow: 2px 2px 4px black; }
        .slide-grid .right-grid .right-gallery img:hover {
          opacity: 0.7;
          cursor: pointer; }
      .slide-grid .right-grid .right-gallery .right-gallery-1 {
        grid-area: topleft;
        margin: 0;
        padding: 0; }
        .slide-grid .right-grid .right-gallery .right-gallery-1 img {
          margin: 0; }
      .slide-grid .right-grid .right-gallery .right-gallery-2 {
        grid-area: topright; }
      .slide-grid .right-grid .right-gallery .right-gallery-3 {
        grid-area: bottomleft; }
      .slide-grid .right-grid .right-gallery .right-gallery-4 {
        grid-area: bottomright; }

.slide-2-grid {
  display: grid;
  width: 90vw;
  height: 50vh;
  gap: 0;
  position: absolute;
  top: 180vh; }
  .slide-2-grid .left-grid {
    grid-area: left; }
  .slide-2-grid .middle-grid {
    grid-area: middle; }
  .slide-2-grid .right-grid {
    grid-area: right; }

.footer {
  text-align: center;
  padding-bottom: 2rem;
  margin-top: 5vh; }
  .footer .social-test {
    text-align: center; }
    .footer .social-test a {
      margin: 0.5rem; }
      .footer .social-test a i {
        padding: 0.8rem;
        color: black;
        border-radius: 50%; }
        .footer .social-test a i:hover {
          cursor: pointer;
          transition: all 0.5s ease-in-out; }
      .footer .social-test a #linkedin {
        background-color: #5cd1ff; }
      .footer .social-test a #github {
        background-color: #64f592; }
      .footer .social-test a #medium {
        background-color: #fff15c; }
      .footer .social-test a #envelope {
        background-color: #ff5c5c; }

.footer-2 {
  width: 100%;
  text-align: center;
  padding: 3vh;
  border-color: darkgoldenrod;
  background-color: #181717; }
  .footer-2 p {
    font-weight: 500;
    color: white;
    font-family: Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    margin-top: 1rem;
    margin-bottom: 1rem; }
