$redColor: rgba(244, 67, 54, 1);
$blueColor: rgba(33, 150, 243, 1);

* {
  //border-style: solid;
}

@mixin easeOut {
  transition: all 0.5s ease-in-out;
}

body {
  margin: 0;
  background-color: #252423;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  //border-style: solid;
}

.animation-wrapper {
  width: 50%;
  padding-bottom: 0;
  //border-style: solid;
  z-index: -2;
}

.sphere-animation {
  position: absolute;
  //border-style: solid;
  top: 50%;
  left: 50%;
  width: 550px;
  height: 550px;
  margin: -290px 0 0 -290px;
  margin-bottom: 0;
}

.sphere path {
  fill: url(#sphereGradient);
  border-style: solid;
  stroke-width: 1px;
  stroke: rgba(80, 80, 80, 0.35);
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: 0.4px;
  }
}

.headings {
  position: absolute;
  top: 30vh;
  h2,
  h3 {
    font-size: 64px;
    color: #fff;
    font-weight: 600;
    font-family: Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -1.6px;
    word-spacing: 0;
    //position: absolute;
  }
  h2 {
    //top: 0vh;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  h3 {
    margin-top: 0;
    font-size: 32px;
    font-weight: 400;
    //top: 15vh;
  }
}

.gallery {
  position: absolute;
  top: 100vh;
  h2 {
    margin: 0;
    font-size: 32px;
    color: #fff;
    font-weight: 400;
    font-family: Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -1.6px;
    word-spacing: 0;
  }
}

.slide-grid {
  border-style: solid;
  * {
    border-style: solid;
  }
  display: grid;
  grid-template-areas: "left middle right";
  grid-template-columns: 30vw 10vw 30vw;
  width: 90vw;
  height: 70vh;
  gap: 0;
  position: absolute;
  top: 110vh;

  .left-grid {
    grid-area: left;
  }
  .middle-grid {
    grid-area: middle;
  }
  .right-grid {
    grid-area: right;
  }
}

.footer {
  //border-style: solid;
  position: absolute;
  top: 190vh;
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
  //width: 100%;
  //height: 10vh;
  .social-test {
    text-align: center;
    //border-style: solid;

    a {
      margin: 0.7rem;
      //background-color: black;
      //color: white;

      i {
        padding: 0.8rem;
        background-color: black;
        color: white;
        //border-style: solid;
        border-radius: 50%;

        &:hover {
          background-color: white;
          color: rgba(244, 67, 54, 1);
          cursor: pointer;
          @include easeOut();
        }
      }
    }
  }
}
